!!!
%html
  %head
    %title Awesome New Startup
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #header
      %h1 The Best Site Ever
      .subtitle But we can't tell you why ... yet


    #content
      #flash_messages
        - flash.each do |key, value|
          .flash_message= value
      = yield

    #footer
      == Copyright #{Time.now.year}

    - if Rails.env.staging? || Rails.env.development?
      #preview_emails
        %h2 This section will not be here in production

        %p You can #{link_to 'view the Emails that users would have received', letter_opener_letters_path}.

        %p= link_to 'What is this about?', 'http://www.alexrothenberg.com/2011/10/24/using-letter-opener-to-view-sent-email-on-a-server.html' if !flash.empty? || (controller.controller_name == 'letters')
